{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div id="corps">
        <h1 id="titre-principal">Veuillez vous authentifier</h1> <br>
        <form method="post">
            <div class="formItem">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="formItem">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            <div class="formItem">
                <button  type="submit">
                    Authentifier
                </button>
            </div>
            <p style="text-align: center;"><a href="http://localhost:8000/forget">mot de passe oublié ?</a></p>
        </form>
    </div>
{% endblock %}


