{% extends 'base.html.twig' %}

{% block title %}scenario 1{% endblock %}

{% block body %}
<div id="corps">
    <h1 id="titre-principal">Connectez-vous pour accèder aux fonctionnalités de l'application </h1>
</div>
{% endblock %}




