{% extends 'base.html.twig' %}

{% block title %}mot de passe oublié{% endblock %}

{% block body %}
<div id="corps">
    <h1 id="titre-principal">Mot de passe oublié</h1>
    <div id="form" style="text-align: center">
        {% if message is defined %}
        <h2 style="text-align: center">{{ message }}</h2>
        {%else %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_rest(form) }}
    </div>
        {% endif %}
</div>
{% endblock %}
