{% extends 'base.html.twig' %}
{% block title %}Changer le mot de passe{% endblock %}
{% block body %}
    <div id="corps">
    <h1 id="titre-principal">Entrer le nouveau mot de passe</h1>

        <div class="formItem">
            {{ form(form) }}
        </div>

    </div>
{% endblock %}